node_modules/
.env
.DS_Store
*.log
dist/
build/
.vscode/
Library/
Temp/
Obj/
Build/
Builds/
Logs/
MemoryCaptures/
.vscode/
*.csproj
*.unityproj
*.sln
*.user
.ipynb_checkpoints/
*.pyc
__pycache__/
.env
venv/
.venv/
*.class
*.jar
*.exe
*.log
*.tmp
*.svg
*.zip
.vs/
*.pt
*.pth
data/
Entregable.jpeg
necesito realizar este proyecto completamente, po.pdf
_pdf_text.txt

google-services.json
GoogleService-Info.plist
[Aa]ssets/Settings/EditorUserSettings.asset
**/Search.index
**/Search.settings
*.dwlt
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Uu]ser[Ss]ettings/

.vs/
.vscode/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

**/EditorUserSettings.asset
**/UserSettings/**
**/Search.index
**/Search.settings
**/*.dwlt
**/default-6000.dwlt

[Aa]ssets/Firebase/Plugins/x86_64/
[Aa]ssets/Firebase/Plugins/**/*.bundle
[Aa]ssets/Firebase/Plugins/**/*.so
[Aa]ssets/Firebase/Plugins/**/*.dylib
[Aa]ssets/Firebase/Editor/

**/google-services.json
**/GoogleService-Info.plist

node_modules/
dist/
.env
